@charset "UTF-8";
  body {
    padding-top: 50px;
    background-color: lightgray;
  }

  .starter-template {
    padding: 40px 40px;
    background-color: white;
  }
  .glyphicon{
    margin-right: 10px;
  }
  .jumbotron
  { color:#FFF;
    background-image: url(sky.jpg);
   background-size:cover;}

   /* skill */
ul {
  list-style: none;
}

li {
  padding: 5px;
}

.glyphicon {
  font-size: 25px;
  margin-right: 10px;
}

.front-end {
  width: 80%;
  border: 2px solid orange;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px orange;
}

.front {
  font-size: 25px;
  color: white;
  background: orange;
  border: 2px solid orange;
  padding: 10px;
  margin-bottom: 10px;
}

.programming {
  width: 80%;
  border: 2px solid silver;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px silver;
}

.prog {
  font-size: 25px;
  color: white;
  background: silver;
  border: 2px solid silver;
  padding: 10px;
  margin-bottom: 10px;
}

.library-framework {
  width: 80%;
  border: 2px solid blue;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px blue;
}

.lib {
  font-size: 25px;
  color: white;
  background: blue;
  border: 2px solid blue;
  padding: 10px;
  margin-bottom: 10px;
}

.badge {
  margin-left: 10px;
}

.term {
  width: 80%;
  border: 2px solid gray;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px gray;
}

.terminal {
  font-size: 25px;
  color: white;
  background: gray;
  border: 2px solid gray;
  padding: 10px;
  margin-bottom: 10px;
}

.learning {
  width: 80%;
  border: 2px solid green;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px green;
}

.learn {
  font-size: 25px;
  color: white;
  background: green;
  border: 2px solid green;
  padding: 10px;
  margin-bottom: 10px;
}

/* skill end */
/* links */
   .github{
     border:1px dotted black;
   }

  .media{
     position:relative;
     border: 1px solid black;
     width:80%;
     border-radius: 5px;
     box-shadow: 2px 2px 5px #999;
   }
    
      
   .media:hover{
      opacity:0.7;
   }
      
   .media a {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      text-decoration:none;
      }
      
   .media img{
      float:left;
      margin-right:20px;
          
     }
      
   .github{
      background:#CCCCCC;
      padding:20px; 
      transition:all 0.5s;
    }
      
   .qiita{
       background:#44ff66;
       padding:20px;
       transition:all 0.5s;
    }

/* links end */
/* info */
   .message{
     padding:   20px;
   }
   
#top-btn{
  position:fixed;
  bottom:10px;
  right:60px;
  text-decoration: none;
  z-index: 1;

}
 .badge{
  margin-left:10px;
}
.info-message{
  width:80%;
  padding:15px;
  margin :20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #999;
}
/* info end */
