@charset "UTF-8";

/* general */

body {
  padding-top: 50px;
  background-color: lightgray;
}

.starter-template {
  padding: 40px;
  background-color: white;
}

.glyphicon {
  margin-right: 10px;
}

.jumbotron {
  color: #FFF;
  background-image: url(sky.jpg);
  background-size: cover;
}


/* module */

.badge {
  margin-left: 10px;
}

.badge-move {
  background-color: lime;
}


.media {
  position: relative;
  border: 1px solid black;
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #999;
}


.media:hover {
  opacity: 0.7;
}

.media a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.media img {
  float: left;
  margin-right: 20px;

}


/* skills */

ul {
  list-style: none;
}

li {
  padding: 5px;
}

.skills {
  width: 80%;
}


.frontEnd_container {

  border: 2px solid orange;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px orange;
}

.frontEnd_box {
  font-size: 25px;
  color: white;
  background: orange;
  border: 2px solid orange;
  padding: 10px;
  margin-bottom: 10px;
}

.programming_container {

  border: 2px solid silver;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px silver;
}

.programming_box {
  font-size: 25px;
  color: white;
  background: silver;
  border: 2px solid silver;
  padding: 10px;
  margin-bottom: 10px;
}

.framework_container {

  border: 2px solid #3333ff;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px #3333ff;
}

.framework_box {
  font-size: 25px;
  color: white;
  background: #3333ff;
  border: 2px solid #3333ff;
  padding: 10px;
  margin-bottom: 10px;
}


.terminal_container {

  border: 2px solid gray;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px gray;
}

.terminal_box {
  font-size: 25px;
  color: white;
  background: gray;
  border: 2px solid gray;
  padding: 10px;
  margin-bottom: 10px;
}

.learning_container {

  border: 2px solid green;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px green;
}

.learning_box {
  font-size: 25px;
  color: white;
  background: green;
  border: 2px solid green;
  padding: 10px;
  margin-bottom: 10px;
}


.other_container {
  border: 2px solid #ff4d4d;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px #ff4d4d;
}

.other_box {
  font-size: 25px;
  color: white;
  background: #ff4d4d;
  border: 2px solid #ff4d4d;
  padding: 10px;
  margin-bottom: 10px;
}


/* links */

.github {
  background: #CCCCCC;
  padding: 20px;
  transition: all 0.5s;
}

.qiita {
  background: #44ff66;
  padding: 20px;
  transition: all 0.5s;
}

/* info */

.message {
  padding: 20px;
}


.info-message {
  width: 80%;
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #999;
}

/* other */

#top-btn {
  position: fixed;
  bottom: 10px;
  right: 60px;
  text-decoration: none;
  z-index: 1;

}
